:root {
  --primary: #72db27;
  --primary-dark: #3fc536;
  --primary-light: #b0e23a;
  --primary-text: #212121;
  --secondary-text: #333333;
  --accent: #72db27;
  --divider: #bdbdbd;
  --white: #fdfdfd;
}

.copy > p {
  color: var(--white);
}
