:root {
  --primary: #d98324;
  --primary-dark: #d98324;
  --primary-light: #d98324;
  --primary-text: #212121;
  --secondary-text: #333333;
  --accent: #d98324;
  --divider: #bdbdbd;
  --white: #fdfdfd;
}

.copy > p {
  color: var(--white);
}

.hero {
  background-size: cover;
}
