:root {
  --primary: #ff3131;
  --primary-dark: #ff3131;
  --primary-light: #d3ff31311a3a;
  --primary-text: #212121;
  --secondary-text: #333333;
  --accent: #ff3131;
  --divider: #bdbdbd;
  --white: #fdfdfd;
}

.copy > p {
  color: var(--white);
}

.hero {
  background-size: cover;
}

ul {
  list-style: disc;
  padding: revert;
}

.post__body > ul {
  margin-left: 0;
}

nav > ul, footer > ul, .hamburger-menu ul {
  list-style: none;
  padding: 0;
}

